<article class="w-100 pet-list d-flex flex-column justify-content-between">
  <section class="w-100 list-head px-4 text-white">
    <section class="py-2">
      <label class="fs-3 fw-bold text-white">Lista de Mascotas</label>
    </section>

    <section class="">
      <span class="icon-list2 list-button"
            (click)="toggleTableList()"></span>
    </section>
  </section>

  <section>
    <section class="col-12 col-sm-6 col-md-4 px-4">
      <select class="form-select" aria-label="Default select example">
        <option selected>Filtrar tipo de animal</option>
        <option *ngFor="let animal of animalTypes" [value]="animal">{{animal}}</option>
      </select>
    </section>

    <section class="d-flex flex-wrap justify-content-around align-items-center"
             *ngIf="!showTableList">
      <section class="pet-list-card col-6 col-md-6 col-lg-4 col-xxl-3 p-4"
               *ngFor="let pet of petList">
        <app-pet-card [pet]="pet"
                      (deletePet)="deletePet($event)"
                      (editPet)="editPet($event)"
                      (openPet)="selectPet($event)"></app-pet-card>
      </section>
    </section>

    <section class="w-100"
             *ngIf="showTableList">
      <section class="card table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Genero</th>
            <th scope="col">Tipo Animal</th>
            <th scope="col">Esterilizacion</th>
            <th scope="col">Opciones</th>
          </tr>
          </thead>
          <tbody>
          <tr class="pet-list-item" *ngFor="let pet of petList"
              (click)="selectPet(pet.id)">
            <td>{{pet.name | titlecase}}</td>
            <td *ngIf="pet.age">{{pet.age}}</td>
            <td *ngIf="!pet.age">--</td>
            <td>{{processGender(pet.gender)}}</td>
            <td>{{pet.type}}</td>
            <td class="text-success" *ngIf="pet.sterilization">SI</td>
            <td class="text-danger" *ngIf="!pet.sterilization">NO</td>
            <td>
              <span class="list-button fa-solid fa-pen text-info me-3"
                    (click)="editPet(pet.id)"></span>
              <span class="list-button fa-solid fa-trash text-danger"
                    (click)="deletePet(pet.id)"></span>
            </td>
          </tr>
          </tbody>
        </table>
      </section>
    </section>
  </section>

  <app-add-button [title]="'Agregar Mascota'"
                  (pressButton)="addPet()"></app-add-button>
</article>
