.pet-list {
}

.list-head {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-button {
  cursor: pointer;
}

.pet-list-item {
  cursor: pointer;
}

.pet-list-card {
  height: 300px;
}
