.pet-list {
}

.pet-list-body {
  height: 97%;
}

.list-head {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-button {
  cursor: pointer;
}

.pet-list-item {
  cursor: pointer;
}

.pet-list-card {
  height: 300px;
}

.pet-list-table-1 {
  max-height: 95%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.pet-list-table {
  max-height: 90%;

  &::-webkit-scrollbar {
    display: none;
  }
}
