<article class="secure bg-major-dark3">
  <app-navbar class="w-100 navbar-top"
              (openMenu)="openSideBar()"></app-navbar>

  <section class="secure-side-bar"
           *ngIf="showSideBarBg">
    <section class="secure-side-bar-bg"
             (click)="closeSideBar()"></section>

    <section class="secure-side-bar-menu"
             *ngIf="showSideBar"
             [@toggleSideBar]>
      <app-side-bar (close)="closeSideBar()"></app-side-bar>
    </section>
  </section>

  <section class="tip-container"
           *ngIf="tipDisplayed && showTips">
    <div class="tip-cross-btn"
         title="Cerrar"
         (click)="closeTips()">
      <i class="fa-solid fa-xmark"></i>
    </div>

    <div class="tip-container-bg">
      <i class="fa-regular fa-lightbulb"></i>
    </div>

    <app-tip-detail [tip]="tipDisplayed"></app-tip-detail>
  </section>

  <section class="secure-body">
    <router-outlet></router-outlet>
  </section>
</article>
