<nav class="navbar navbar-expand-lg navbar-dark bg-green-dark1 shadow">
  <div class="container-fluid">
    <section class="navbar-bars"
             (click)="openSideBar()">
      <span class="fa-solid fa-bars"></span>
    </section>

    <a class="navbar-brand text-white" [routerLink]="['/secure/pet/pet-list']">
      <span class="fa-solid fa-paw"></span>

      <label class="navbar-title d-none d-lg-block">Pet Family</label>

      <label class="d-block d-lg-none fw-bold fs-5"
             *ngIf="currentUser">{{currentUser.name | titlecase}}</label>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </div>

  <section class="d-none d-lg-block text-white fw-bold fs-5 navbar-username"
           *ngIf="currentUser">
    {{currentUser.name | titlecase}}
  </section>
</nav>
