.logout {
  width: 200px;
}

.navbar-bars {
  cursor: pointer;
  color: #ffffff;
  margin: 0 15px;
  font-size: 30px;
}

.navbar-brand {
  align-items: center;
  display: flex;
  padding-bottom: 0;
  padding-top: 0;

  .fa-solid {
    font-size: 30px;
    margin-right: 5px;
  }
}

.navbar-title {
  font-size: 30px;
  font-weight: bold;
}

li {
  cursor: pointer;
}
