<article class="pet-info">
  <section class="pet-info-back-button mb-4"
           (click)="closePet()">
    <i class="fa-solid fa-chevron-left"></i>
    <span class="text-white fs-3 ms-2">Atras</span>
  </section>

  <section class="d-flex flex-wrap align-items-center justify-content-center p-4">
    <section class="pet-info-colum col-12 col-md-6">
      <section class="d-flex flex-wrap align-items-center justify-content-start mb-3 mt-3" [ngSwitch]="pet.type">
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6 fw-bold">Tipo de mascota:</label>
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6" *ngSwitchCase="'BIRD'">Ave</label>
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6" *ngSwitchCase="'CAT'">Gato</label>
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6" *ngSwitchCase="'DOG'">Perro</label>
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6" *ngSwitchCase="'FISH'">Pez</label>
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6" *ngSwitchCase="'MOUSE'">Roedor</label>
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6" *ngSwitchDefault>Otro</label>
      </section>

      <section class="d-flex flex-wrap align-items-center justify-content-start mb-3">
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6 fw-bold">Peso:</label>
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6">{{pet.weight}} Kg.</label>
      </section>

      <section class="d-flex flex-wrap align-items-center justify-content-start mb-3">
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6 fw-bold">Género:</label>
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6"
               *ngIf="pet.gender === 'male'">Macho</label>
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6"
               *ngIf="pet.gender === 'female'">Hembra</label>
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6"
               *ngIf="pet.gender !== 'male' && pet.gender !== 'female'">Otro</label>
      </section>

      <section class="d-flex flex-wrap align-items-center justify-content-start mb-3">
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6 fw-bold">Edad:</label>
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6">{{pet.age}}</label>
      </section>

      <section class="d-flex flex-wrap align-items-center justify-content-start mb-3">
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6 fw-bold">Esterelización:</label>
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6" *ngIf="pet.sterilization">SI</label>
        <label class="pet-info-txt text-white col-12 col-md-12 col-lg-6" *ngIf="!pet.sterilization">NO</label>
      </section>

      <section class="pet-info-options">
        <button class="btn btn-light txt-major fw-bold me-3"
                (click)="editPet(pet.id)">Editar
        </button>

        <button class="btn btn-danger fw-bold"
                (click)="deletePet(pet.id)">Eliminar
        </button>
      </section>
    </section>

    <section class="pet-info-colum col-12 col-md-6">
      <section class="d-flex flex-column align-items-center justify-content-center">
        <section class="pet-info-image">
          <img class="img-fluid"
               [src]="imageAvatar"
               [alt]="pet.name">
        </section>

        <label class="fs-2 text-white fw-bolder mt-3">{{pet.name | titlecase}}</label>
      </section>
    </section>
  </section>
</article>
