.pet-info {
  position: relative;
}

.pet-info-colum {
  height: 500px;
}

.pet-info-image {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 400px;
  width: 100%;
}

.pet-info-back-button {
  align-items: center;
  cursor: pointer;
  display: flex;

  .fa-solid {
    color: #ffffff;
    font-size: 25px;
  }
}

.pet-info-txt {
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  .pet-info-txt {
    font-size: 17px;
  }
}

@media screen and (max-width: 450px) {
  .pet-info-txt {
    font-size: 14px;
  }
}