.task-pad {
  background-color: #fde99f;
  border-radius: 15px;
  cursor: pointer;
  height: 100%;
  position: relative;
  width: 100%;
}

.task-pad-option {
  position: absolute;
  top: 10px;
  right: 10px;
}

.task-pad-title {
  cursor: pointer;
  max-width: 100%;
  overflow-wrap: break-word;
}

.task-pad-text {
  cursor: pointer;
  max-width: 100%;
  overflow-wrap: break-word;
}
