.image-section {
  height: 693px;
}

.image {
  background-image: url("/assets/images/animals-background.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
