.treatment-list {
  position: relative;
}

.treatment-info-back-button {
  align-items: center;
  cursor: pointer;
  display: flex;

  .fa-solid {
    color: #ffffff;
    font-size: 25px;
  }
}

.treatment-list-add-container {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.treatment-list-add {
  width: 400px;
}

.list-button {
  cursor: pointer;
}

.treatment-list-body {
  border-radius: 15px;
  max-height: 90%;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.text-success {
  color: #00a99d !important;
}
