.pet-card {
  cursor: pointer;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.pet-card-icon {
  font-size: 150px;
}

.pet-card-options {
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 2;
}

.pet-card-avatar-content {
  height: 80%;
  width: 100%;
}

.pet-card-avatar {
  align-items: center;
  display: flex;
}

.pet-card-avatar-image {
  align-items: center;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.pet-card-name {
  align-items: center;
  display: flex;
  height: 20%;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .pet-card-icon {
    font-size: 100px;
  }
}
