<article class="sign-up d-flex justify-content-center">
  <section class="h-100 col-12 col-md-6 d-flex justify-content-center align-items-center">
    <form class="card p-5 sign-up-form" [formGroup]="registerForm" (ngSubmit)="submit()">
      <label class="fw-bold txt-major fs-3 text-center">Registrarse</label>

      <section class="sign-up-avatar">
        <app-avatar [form]="avatarForm.ROUNDED"
                    [height]="'200px'"
                    [width]="'200px'"></app-avatar>
      </section>

      <input type="text" class="form-control mb-3"
             placeholder="Nombre*"
             formControlName="name"
             [ngClass]="{'is-invalid': submitted && form['name'].errors}">

      <input type="text" class="form-control mb-3"
             placeholder="Apellido*"
             formControlName="lastname"
             [ngClass]="{'is-invalid': submitted && form['lastname'].errors}">

      <input type="email" class="form-control mb-3"
             placeholder="Correo electronico*"
             formControlName="email"
             [ngClass]="{'is-invalid': submitted && form['email'].errors}">

      <input type="email" class="form-control mb-3"
             placeholder="Nombre de Usuario*"
             formControlName="username"
             [ngClass]="{'is-invalid': submitted && form['username'].errors}">

      <input type="password" class="form-control mb-3"
             placeholder="Contraseña*"
             formControlName="password"
             [ngClass]="{'is-invalid': submitted && form['password'].errors}">

      <input type="number" class="form-control mb-3"
             placeholder="Telefono"
             formControlName="phone">

      <button class="btn btn-major text-white mb-4"
              type="submit"
              [disabled]="loading"
              (click)="submit()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Registrarse
      </button>

      <label class="text-center">Ya tienes cuenta?</label>
      <a class="register text-center txt-major" routerLink="/public/sign-in">Iniciar Sesion</a>
    </form>
  </section>

  <section class="d-none d-md-block col-md-6 h-100 image"></section>
</article>
