<article class="sign-up d-flex justify-content-center">
  <section class="w-50 h-100 d-flex justify-content-center align-items-center">
    <form class="card p-5 sign-up-form">
      <label class="fw-bold txt-major fs-3 text-center">Registrarse</label>

      <section class="sign-up-avatar">
        <app-avatar [form]="avatarForm.ROUNDED"
                    [height]="'200px'"
                    [width]="'200px'"></app-avatar>
      </section>

      <input type="text" class="form-control mb-3" placeholder="Nombre Completo">

      <input type="email" class="form-control mb-3" placeholder="Correo electronico">

      <input type="password" class="form-control mb-3" placeholder="Contraseña">

      <input type="number" class="form-control mb-3" placeholder="Telefono">

      <button class="btn btn-major text-white mb-4"
              type="submit"
              (click)="submit()">
        Registrar
      </button>

      <label class="text-center">Ya tienes cuenta?</label>
      <a class="register text-center txt-major" routerLink="/public/sign-in">Iniciar Sesion</a>
    </form>
  </section>

  <section class="w-50 h-100 image"></section>
</article>
