<div class="container mt-5">
    <div class="row justify-content-center">
        <form class="col-6 card p-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="username" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp" formControlName="username"
                    [ngClass]="{'is-invalid': submitted && form['username'].errors}">
                <div *ngIf="submitted && form['username'].errors" class="invalid-feedback">
                    <div *ngIf="form['username'].errors['required']">El nombre es requerido</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" formControlName="password"
                    [ngClass]="{'is-invalid': submitted && form['password'].errors}">
                <div *ngIf="submitted && form['password'].errors" class="invalid-feedback">
                    <div *ngIf="form['password'].errors['required']">La contraseña es requerida</div>
                </div>
            </div>

            <button [disabled]="loading" type="submit" class="btn btn-danger">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Iniciar Sesión
            </button>

            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
    </div>
</div>