@import "src/styles";

.image-section {
  border-radius: 5px;
  height: 693px;
  overflow: hidden;
}

.image {
  background-image: url("/assets/images/pet-book.jpeg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form-check-input:checked {
  background-color: $major;
}
